*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*webkit placeholder color*/
*::-webkit-input-placeholder {
    color: rgba(255,255,255,0.5);
}*:-moz-placeholder {
    /* FF 4-18 */
    color: rgba(255,255,255,0.5);
}*::-moz-placeholder {
    /* FF 19+ */
    color: rgba(255,255,255,0.5);
}*:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255,255,255,0.5);
}

/*RESET*/


/***GENERAL***/
body{
    font-family: 'open_sanslight';
    color: white;
    width: 100%;
}

.container{
    width: 90%;
    margin: 0 auto;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

.int-title{
    width: 100%;
    font-size: 3em;
    font-family: 'open_sansextrabold';
    text-transform: uppercase;
    padding: 5% 2%;
}

/***HEADER***/

header{
    background-color: #ff8b38;
    width: 100%;
    height: 95px;
    position: fixed;
    z-index: 3;
    overflow: visible;
}

header .logo{
    width: 30%;
    margin-right: 30%;
    float: left;
    padding: 0.6% 0 0.6% 1%;
}

header .logo img{
    width: 100%;
}

header .search{
    width: 20%;
    float: left;
    padding: 3% 0 2.2% 0; 
}

header .search #search-box{
    background-color: rgba(255,255,255,0.1);
    outline: none;
    border: 0;
    padding: 10px 5px;
    width: 100%;
    color: rgba(255,255,255,0.6);
    font-size: 1em;
}

header .search #search-box:focus{
    outline: 1px solid white;
    color: white;
}

header .main-menu{
    width: 20%;
    float: right;
    padding: 0.3% 0;
}

header .main-menu li{
    float: left;
    font-size: 2em;
    padding: 11% 0;
    width: 32%;
    margin-right: 2%;
    text-align: center;
}

header .main-menu li:first-child{
    padding-left: 0;
    margin: 0;
}

header .main-menu li:last-child{
    padding-right: 0;
    margin: 0;
}

header li a{
    color: white;
}

header li a:hover{
    color: black;
    transition: 0.2s;
}

#burguer-btn, #lang-btn, #categ-icon{
    transition: transform 0.5s;
}

/*burguer button rotation*/
.burguer-menu-action {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: black;
}

/*lang button rotation*/
.lang-menu-action{
    -webkit-transform: rotate(-360deg);
    -moz-transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
    -o-transform: rotate(-360deg);
    transform: rotate(-360deg);
    color: black;
}

/*hidden lang-menu*/
.lang-menu{
    width: 20%;
    right: 5%;
    position: absolute;
    background-color: #ff8b38;
    top: 95px;
    z-index: 1;
    overflow: visible;
    text-align: center;
    border: 1px solid rgba(255,255,255,0.3);
}

/*hidden burguer-menu*/
.burguer-menu{
    width: 25%;
    right: 0;
    position: absolute;
    background-color: #ff8b38;
    top: 95px;
    z-index: 1;
    overflow: visible;
    text-align: right;
    border: 1px solid rgba(255,255,255,0.3);
}

.burguer-menu li, .lang-menu li{
    padding: 4% 3%;
}

.burguer-menu li a, .lang-menu li a{
    font-family: "open_sansextrabold";
    font-size: 2em;
    text-transform: uppercase;
}

.menu-selected{
    text-decoration: line-through;
    color: black;
}

/*hidden categ-menu*/
.categ-menu li a{
    font-size: 1.4em;
}

.burguer-menu i{
    padding-right: 5%;
}

/*rotation categ-icon*/
.categ-menu-action{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotateX(180deg);
    color: black;
}

/*<hr/> menu divider*/
.menu-divider{
    width: 100%;
    border: 2px solid rgba(255,255,255,0.1);
}


/***MAIN***/

.main{
    width: 100%;
    padding-top: 95px;
    position: relative;
    overflow: visible;/*visible menus*/
    z-index: 0;
}

#slider-main img{
    width: 100%;
}

/*DESTACADOS*/
.destacados{
    overflow: hidden;
    position: relative;
    width: 100%;
}

.destacados .title{
    font-family: 'open_sansextrabold';
    color: #ff8b38;
    font-size: 2em;
    text-transform: uppercase;
    clear: both;
    width: 100%;
    padding: 2% 0 0.5% 0;
    border-bottom: 3px solid #ff8b38;
}

/*eventos-min = 3 eventos x fila*/
.eventos-min{
    width: 100%;
    overflow: hidden;
    padding: 2% 0;
    clear: both;
}

.eventos-min figure{
    width: 32%;
    float: left;
    margin-right: 2%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    padding: 1.5% 0 0 0;
}

/*last child of the row*/
.eventos-min .no-margin, footer .no-margin{
    margin: 0;
    margin-right: 0;
}

.eventos-min figure img{
    width: 100%;
}

.eventos-min figure figcaption{
    position: absolute;
    bottom: 1.5%;
    background-color: rgba(255,255,255,0.6);
    width: 100%;
    padding: 1% 2%;
    color: black;
}

.eventos-min figure .subtitle-ev-min{
    font-family: 'open_sansextrabold';
    text-transform: uppercase;
    font-size: 1.3em;
}

.icon-ev{
    display: none;
}

.eventos-min figure:hover figcaption{
    height: 100%;
    padding: 25% 0;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    font-size: 1.2em;
    transition: 0.2s;
}

.icon-ev .icon-eye{
    padding: 10px;
    font-size: 30px;
    border: 1.5px solid black;
    border-radius: 100px;
}

.eventos-min figure .icon-ev{
    display: none;
}


.eventos-min figure:hover .icon-ev{
    display: inline;
}

.eventos-min figure .icon-ev .icon-eye:hover{
    color: #ff8b38;
    border-color: #ff8b38;
    transition: 0.3s;
}

.eventos-min figure figcaption p{
    text-transform: uppercase;
}


/*.eventos-min figure:hover .subtitle-ev-min{
    color: orange;
}*/

/***CONTENT***/

/***CATEGORÍA: MÚSICA***/

.int-banner{
    width: 100%;
    overflow: visible;
    z-index: 3;
    padding-top: 40px;
}

.int-banner figure{
    width: 100%;
    overflow: hidden;
    position: relative;
    bottom: -5px;
}

.int-banner figure img{
    width: 100%;
    padding: 0;
}

.int-banner figure figcaption{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 139, 56, 0.5);
    position: absolute;
    bottom: 1%;
    text-align: center;
}

.int-banner figure .int-title{
    padding-top: 12%;
}

/*ver más button*/

.ver-mas{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 3% 0 4% 0;
}

#ver-mas-btn{
    margin: 0 auto;
    padding: 1% 6%;
    font-family: 'open_sansextrabold';
    font-size: 2em;
    text-transform: uppercase;
    border: 2px solid #ff8b38;
    transition: 0.2s;
}

.to-press-btn{
    cursor: pointer;
    background: rgba(255,255,255, 0);
    color: #ff8b38;
}

.pressed-btn{
    color: #ff8b38;
    cursor: default;
}

.to-press-btn:hover{
    background-color: #ff8b38;
    color: white;
}

/*filtro-eventos*/

.filtro-ev{
    width: 100%;
    float: left;
    clear: both;
    padding-bottom: 0;
}

.filtro-ev .filtro-option{
    width: 33.3%;
    float: left;
    color: #ff8b38;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    border: 2px solid #ff8b38;
    font-family: 'open_sansextrabold';
    padding: 2%;
    cursor: pointer;s
}

.filtro-ev .filtro-option p{
    font-size: 2em;
}

.filtro-ev .filtro-option .title-filtro{
    font-size: 1.4em;
    padding-top: 4%;
}

.filtro-ev .filtro-selected, .filtro-ev .filtro-option:hover{
    background-color: #ff8b38;
    color: white;
}

.filtro-ev .filtro-option:first-child{
    border-right: 0;
}

.filtro-ev .filtro-option:last-child{
    border-left: 0;
}

/***hidden content***/
.hidden-fig{
    display: none;
}

.icon-ev{
    display: none;
}

/***FOOTER***/
footer{
    position: relative;
    background-color: #ff8b38;
    overflow: hidden;
    padding: 1.6% 0 0 0;
}

footer .container div{
    width: 30%;
    float: left;
    margin-right: 5%;
    overflow: hidden;
}

footer .container div:last-child{
    margin: 0;
}

footer .puntos-venta h2, footer .medios-pago h2, footer .redes-sociales h2{
    width: 100%;
}

footer .puntos-venta img{
    width: 48%;
    margin-right: 4%;
    float: left;
}

footer .puntos-venta img:last-child, footer .medios-pago img:last-child, footer .redes-sociales .rs li:last-child{
    margin: 0;
}

footer .medios-pago img{
    width: 32%;
    margin-right: 2%;
    float: left;
}

footer .rs li{
    text-align: center;
    width: 32%;
    margin-right: 2%;
    float: left;
}

footer .rs a{
    font-size: 2em;
    padding: 2% 4%;
    color: white;
}

footer .rs a:hover{
    color: black;
    transition: 0.5s;
}

footer .subtitle-footer{
    padding: 5% 0;
    font-family: 'open_sansextrabold';
    font-size: 1.2em;
    text-transform: uppercase;
}

footer .container{
    padding-bottom: 3%;
    overflow: hidden;
}

footer .copyright{
    width: 100%;
    clear: both;
    text-align: center;
    overflow: hidden;
    padding: 0 0 0 0;
    background-color: white;
    color: #ff8b38;
    font-weight: bold;
}